<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
          {% if user.is_authenticated %}
          <li><a href="{% url 'home' %}">My Receipts</a></li>
          <li><a href="{% url 'account_list' %}">Accounts</a></li>
          <li><a href="{% url 'category_list' %}">Categories</a></li>
          <li><a href="{% url 'create_account' %}">Create Account</a></li>
          <li><a href="{% url 'create_category' %}">Create Category</a></li>
          <li><a href="{% url 'create_receipt' %}">Create Receipt</a></li>
          <li><a href="{% url 'logout' %}">Logout</a></li>
          {% endif %}
        </ul>
      </nav>

    <main>
        {% block content %}
        <div>
            <h1>Create Category</h1>
            <form method="post">
             {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Create</button>
        </form>
        </div>
        {% endblock %}



    </main>

</body>
</html>
